$richBlack: #001219;

$skobeloff: #005F73;

$viridianGreen: #0A9396;

$pearlAqua: #94D2BD;

$CookiesAndCream: #e0cfb5;

$orange: #EE9B00;

$alloyOrange: #CA6702;

$mahogany: #BB3E03;

$carnelian: #AE2012;

$vividAuburn: #9B2226;